f-lineage {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;

  foreignObject {
    overflow: visible;
  }
}

:host {
  > svg {
    animation: none !important;
  }

  foreignObject {
    > * {
      position: fixed;
    }
  }
}
