f-lineage {
  display: flex;
  height: auto;
  overflow: auto;
  flex-direction: column;
  align-items: flex-end;

  foreignObject {
    overflow: visible;
  }
}

f-div[direction="column"] {
  > f-lineage {
    width: 100%;
  }
}

f-div[direction="row"] {
  > f-lineage {
    flex: 1 1;
    max-width: 100%;
  }
}

:host {
  background-color: var(--color-surface-default);
  position: relative;
  > svg {
    animation: none !important;
    background-color: var(--color-surface-default);
  }

  foreignObject {
    cursor: pointer;
    overflow: visible;
    > * {
      position: fixed !important;
    }
    * {
      transform-origin: 0% 0%;
    }
  }
  .highlight {
    opacity: 1;
    stroke-opacity: 1;
    fill-opacity: 1;
  }
  .lowlight {
    opacity: 0.3;
    stroke-opacity: 0.3;
    fill-opacity: 0.3;
  }

  .child-link {
    opacity: 0;
    &.highlight {
      opacity: 1;
    }
  }

  .degree-selector {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
